* {
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}


.container {
  padding: 1rem;
  color: white;
  display: grid;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

header h1{
  color: white;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

footer p{
  text-align: center;
  color: #555;
}

.scores-container{
  text-align: center;
  color: #fff;
}

#typing-input {
  background-color: #333;
  border: 1px solid #555;
  color: white;
  border-radius: 4px;
}

/* Style for the prompt text while typing */

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.gray {
  color: gray;
}

.current {
  border-bottom: 2px solid blue;
}

/* Utils */

.mar-v-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mar-h-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mar-v-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mar-h-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Styles for the keybaord */

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 0.2rem 0;
}

.key {
  width: 3rem;
  height: 3rem;
  line-height: 3rem; /*align text vertically*/
  margin: 0.1rem;
  text-align: center;
  vertical-align: middle;
  background-color: #444;
  color: white;
  border-radius: 4px;
}

.key-space {
  width: 6rem;
}

.pinkie {
  background-color: #f28b82;
}
.ring {
  background-color: #fbbc04;
}
.middle {
  background-color: #34a853;
}
.index {
  background-color: #4285f4;
}
.thumb {
  background-color: #ea4335;
}

.key.highlighted {
  border: 2px solid yellow;
}

@media screen and (max-width: 780px){
  .key{
    width: 2rem;
    height: 2rem;
    line-height: 2rem; /*align text vertically*/
  }
}

@media screen and (max-width: 560px){
  .key{
    width: 2rem;
    height: 2rem;
    line-height: 2rem; /*align text vertically*/
  }
}

/* Health Bar Styles */

#health-bar-container {
  width: 100%;
  height: 20px;
  background-color: #444;
  margin-bottom: 1rem;
  position: relative;
}

#health-bar {
  width: 100%;
  height: 100%;
  background-color: red;
  transition: width 0.2s linear;
}

/* Score Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}